body {
    // These are the RGB values for the colours
    --pistachio: 138, 205, 109;
    --highlighted-pistachio: 90, 167, 57;
    --tomato: 255, 99, 71;
    --highlighted-tomato: 245, 37, 0;
    --black: 34, 34, 34;
    --notblack: 68, 68, 68;
    --grey: 170, 170, 170;
    --darkgrey: 119, 119, 119;
    --lightgrey: 204, 204, 204;
    --white: 239, 239, 239;
    --pure-white: 255, 255, 255;

    &.darkmode {
        // These are the RGB values for the colours
        --black: 255, 255, 255;
        --notblack: 239, 239, 239;
        --grey: 204, 204, 204;
        --darkgrey: 119, 119, 119;
        --lightgrey: 170, 170, 170;
        --white: 68, 68, 68;
        --pure-white: 34, 34, 34;
    }

    .darkmodeToggle {
        z-index: 10;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 1em;
        height: 1em;
        font-size: 3em;
        cursor: pointer;
        overflow: hidden;
        border-radius: 0.25em;
        background: rgb(var(--notblack));
        transition: background 0.3s ease-in-out;

        &::before,
        &::after {
            font-variant: unicase;
            display: inline-block;
            position: absolute;
            top: 0.9em;
            width: 1em;
            line-height: 1em;
            text-align: center;
            transition: transform 0.3s ease-in-out;
        }
        &::before {
            content: "🌓";
            transform: rotateZ(0deg) translateY(-1em);
        }
        &::after {
            content: "🌞";
            transform: rotateZ(-90deg) translateY(-1em);
        }
    }
    &.darkmode {
        .darkmodeToggle::before {
            transform: rotateZ(90deg) translateY(-1em);
        }
        .darkmodeToggle::after {
            transform: rotateZ(-00deg) translateY(-1em);
        }
    }
}
body {
    background: rgb(var(--white));
    color: rgb(var(--black));
}

.homeContainer {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 40%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 1em;
        flex-grow: 0.2;

        .left,
        .right {
            display: flex;
            flex-flow: column;
            justify-content: center;
            gap: 0.5em;
            width: 100%;

            .miniWrap {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
            }

            input,
            .btn {
                padding: 0;
                height: 3.25em;
                width: 100%;
            }
        }
        vr {
            align-self: stretch;
            width: 3px;
        }

        input[type="text"] {
            text-align: center;
        }

        small {
            color: #00000088;
            text-align: center;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;

    .overlayContent {
        max-width: 35%;
        max-height: 50%;
        background: rgb(var(--white));
        display: flex;
        flex: 1 1 0;
        overflow-y: auto;
        border-radius: 1em;
        flex-flow: column;
        padding: 2em;
        box-shadow: 0px 0px 75px 10px rgba(0, 0, 0, 0.2);

        .overflowScrollWrapper {
            overflow-y: auto;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            .overlayButtons {
                display: flex;
                flex-flow: column;
                gap: 1em;
                margin-top: 1em;

                input[type="text"] {
                    text-align: center;
                }
            }
        }
        hr {
            margin: 0;
            width: 100%;
        }
    }
}

hr {
    margin: 1em 0;
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        90deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    height: 1px;
    opacity: 0.75;
    margin-left: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}
vr {
    border: none;
    background: rgb(254, 100, 72);
    background: linear-gradient(
        180deg,
        rgba(254, 100, 72, 0) 0%,
        rgba(254, 100, 72, 1) 20%,
        rgba(254, 100, 72, 1) 40%,
        rgba(255, 209, 71, 1) 70%,
        rgba(255, 209, 71, 0) 100%
    );
    width: 1px;
    opacity: 0.75;
    margin-top: attr(offset px, 0px);

    &.flip {
        transform: rotate(180deg);
    }
}

.felx-br {
    flex-basis: 100%;
    height: 0;
}

blockquote.error {
    background: rgb(var(--grey));
    padding: 1rem 1.5rem;
    border-left: 0.5rem solid;
    border-radius: 0.5rem;
    border-image: linear-gradient(to bottom, rgb(var(--highlighted-tomato)), rgb(var(--tomato))) 1 100%;
    color: rgb(var(--notblack));
}

body canvas {
    transition: filter 0.3s ease-in-out;
    filter: invert(0);
}
body.darkmode canvas {
    filter: invert(1);
}

input,
select,
textarea {
    border-radius: 0.6rem;
    padding: 0.5em !important;
    border: none;
    display: block;
    box-sizing: border-box;
    transition: border 0.2s;
    border-bottom: 0.2em solid rgb(var(--notblack), 0);
    background: rgb(var(--pure-white));

    &[disabled] {
        color: rgb(var(--notblack));
        font-weight: 100;
        font-style: italic;

        &:hover,
        &:focus {
            border-bottom: 0.2em solid rgb(var(--tomato)) !important;
        }
    }

    &:hover,
    &:focus {
        border-bottom: 0.2em solid rgb(var(--notblack));
        outline: none;
    }
}

.btn,
input[type="submit"] {
    background: rgb(var(--pistachio));
    padding: 1rem;
    border-radius: 0.6rem;
    transition: 0.2s ease-out;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    text-decoration: none;
    color: rgb(var(--black));

    display: flex;
    justify-content: center;
    align-items: center;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:not([disabled]):hover {
        filter: brightness(85%);
    }

    &:not([disabled]):active {
        filter: brightness(75%);
    }

    &.red {
        background: rgb(var(--tomato));
    }
}

.errorWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3em;

    a.btn {
        width: 200px;
    }
}

#error {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: 0 5px 10px rgb(var(--darkgrey));
    background-color: rgb(var(--white));

    width: 70%;
    max-width: 1020px;
    border-radius: 5px;
    padding: 20px;

    .preWrap {
        background: rgb(var(--lightgrey));
        border-radius: 0.5em;
        box-shadow: inset -5px 0 20px -5px rgb(var(--darkgrey));
        padding-bottom: 0.6em;

        pre {
            overflow-x: scroll;
            padding: 1em;
            padding-bottom: 0.5em;
            color: rgb(var(--darkgrey));

            &::-webkit-scrollbar {
                width: 0.75em;
                height: 0.75em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(var(--grey));
                border-radius: 10em;
                margin: 2em;

                &:hover {
                    background-color: rgb(var(--darkgrey));
                }
            }

            &::-webkit-scrollbar-button {
                background: transparent;
                width: 1em;
            }

            span.highlight {
                color: rgb(var(--black));
            }
        }
    }
}
