html {
  background: #efefef;
  color: #222222;
}

.homeContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.homeContainer .wrapper {
  width: 40%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 1em;
  flex-grow: 0.2;
}
.homeContainer .wrapper .left,
.homeContainer .wrapper .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}
.homeContainer .wrapper .left .miniWrap,
.homeContainer .wrapper .right .miniWrap {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.homeContainer .wrapper .left input,
.homeContainer .wrapper .left .btn,
.homeContainer .wrapper .right input,
.homeContainer .wrapper .right .btn {
  padding: 0;
  height: 3.25em;
  width: 100%;
}
.homeContainer .wrapper vr {
  align-self: stretch;
  width: 3px;
}
.homeContainer .wrapper input[type=text] {
  text-align: center;
}
.homeContainer .wrapper small {
  color: #00000088;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.overlay .overlayContent {
  max-width: 35%;
  max-height: 50%;
  background: #aaaaaa;
  display: flex;
  flex: 1 1 0;
  overflow-y: auto;
  border-radius: 1em;
  flex-flow: column;
  padding: 2em;
  box-shadow: 0px 0px 75px 10px rgba(0, 0, 0, 0.2);
}
.overlay .overlayContent .overflowScrollWrapper {
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.overlay .overlayContent .overflowScrollWrapper .overlayButtons {
  display: flex;
  flex-flow: column;
  gap: 1em;
  margin-top: 1em;
}
.overlay .overlayContent .overflowScrollWrapper .overlayButtons input[type=text] {
  text-align: center;
}
.overlay .overlayContent hr {
  margin: 0;
  width: 100%;
}

hr {
  margin: 1em 0;
  border: none;
  background: #fe6448;
  background: linear-gradient(90deg, rgba(254, 100, 72, 0) 0%, #fe6448 20%, #fe6448 40%, #ffd147 70%, rgba(255, 209, 71, 0) 100%);
  height: 1px;
  opacity: 0.75;
  margin-left: attr(offset px, 0px);
}
hr.flip {
  transform: rotate(180deg);
}

vr {
  border: none;
  background: #fe6448;
  background: linear-gradient(180deg, rgba(254, 100, 72, 0) 0%, #fe6448 20%, #fe6448 40%, #ffd147 70%, rgba(255, 209, 71, 0) 100%);
  width: 1px;
  opacity: 0.75;
  margin-top: attr(offset px, 0px);
}
vr.flip {
  transform: rotate(180deg);
}

.felx-br {
  flex-basis: 100%;
  height: 0;
}

blockquote.error {
  background: #aaaaaa;
  padding: 1rem 1.5rem;
  border-left: 0.5rem solid;
  border-radius: 0.5rem;
  border-image: linear-gradient(to bottom, #f42601ff, #fe6448ff) 1 100%;
  color: #444444;
}

input,
select,
textarea {
  border-radius: 0.6rem;
  padding: 0.5em !important;
  border: none;
  display: block;
  box-sizing: border-box;
  transition: border 0.2s;
  border-bottom: 0.2em solid rgba(68, 68, 68, 0);
}
input[disabled],
select[disabled],
textarea[disabled] {
  color: #444444;
  font-weight: 100;
  font-style: italic;
}
input[disabled]:hover, input[disabled]:focus,
select[disabled]:hover,
select[disabled]:focus,
textarea[disabled]:hover,
textarea[disabled]:focus {
  border-bottom: 0.2em solid #fe6448ff !important;
}
input:hover, input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border-bottom: 0.2em solid #444444;
  outline: none;
}

.btn,
input[type=submit] {
  background: #8acd6dff;
  padding: 1rem;
  border-radius: 0.6rem;
  transition: 0.2s ease-out;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:not([disabled]),
input[type=submit]:not([disabled]) {
  cursor: pointer;
}
.btn:not([disabled]):hover,
input[type=submit]:not([disabled]):hover {
  filter: brightness(85%);
}
.btn:not([disabled]):active,
input[type=submit]:not([disabled]):active {
  filter: brightness(75%);
}
.btn.red,
input[type=submit].red {
  background: #fe6448ff;
}

.errorWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3em;
}
.errorWrapper a.btn {
  width: 200px;
}

#error {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 5px 10px #777777;
  background-color: #efefef;
  width: 70%;
  max-width: 1020px;
  border-radius: 5px;
  padding: 20px;
}
#error .preWrap {
  background: #cccccc;
  border-radius: 0.5em;
  box-shadow: inset -5px 0 20px -5px #777777;
  padding-bottom: 0.6em;
}
#error .preWrap pre {
  overflow-x: scroll;
  padding: 1em;
  padding-bottom: 0.5em;
  color: #777777;
}
#error .preWrap pre::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
#error .preWrap pre::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10em;
  margin: 2em;
}
#error .preWrap pre::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}
#error .preWrap pre::-webkit-scrollbar-button {
  background: transparent;
  width: 1em;
}
#error .preWrap pre span.highlight {
  color: #222222;
}
/*# sourceMappingURL=main.css.map */
